As exibições de diretório representar um risco à segurança, pois revelam a estrutura e o conteúdo do que estiver no seu servidor. Tudo depende do diretório e 
seu conteúdo. Você pode correr o risco de revelar arquivos ou dados confidenciais. Vamos bloqueá-los.

Directory views pose a security risk as they reveal the structure and content of what is on your server. It all depends on the directory and its content. 
You may run the risk of revealing confidential files or data. Let's block them.

Desabilitar a indexação de diretório para todos os diretórios usando o htaccess raiz.
Disable directory indexing for all directories using root htaccess.

# DESATIVAR INDEXING DE DIRETÓRIOS #
# DISABLING DIRECTORY INDEXING #
Options -Indexes
